@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  position: relative;
  padding: 25px 0;
  &__title {
    margin: 30px 0 15px;
    text-align: center;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  &__coins {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &__coins-text {
    color: #eded3b;
    font-size: 20px;
    font-weight: 700;
  }
  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    border: $border-default;
    border-radius: $radius-default;
  }
}

.boost {
  &__card {
    @include card();
  }
  &__card-title {
    margin-bottom: 20px;
    font-size: 16px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__item {
    display: flex;
    padding: 5px;
    border: $border-default;
    border-radius: $radius-default;
    background: linear-gradient(to bottom, #f89523, #f87322);
  }
  &__item-content {
    margin: 0 auto 0 10px;
  }
  &__item-info {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.friends {
  &__title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__card {
    position: relative;
    margin-bottom: 10px;
    padding: 25px 15px 20px;
    border: $border-default;
    border-radius: $radius-default;
    background-color: #3e3e45;
    &--top {
      min-height: 35dvh;
    }
    &--slim {
      padding: 25px 35px 20px;
    }
  }
  &__card-title {
    margin-bottom: 20px;
    font-size: 16px;
  }
  &__card-text {
    max-width: 195px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  &__card-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.stats {
  &__headline {
    text-align: center;
  }
  &__headline__subtitle {
    margin-bottom: 5px;
    color: #c59f72;
    font-size: 20px;
    font-weight: 500;
  }
  &__headline-titlebox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    img {
      display: block;
      height: 40px;
      width: 40px;
    }
  }
  &__headline-title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__card-title {
    margin-bottom: 10px;
    font-size: 16px;
  }
  &__decor {
    position: absolute;
    top: 20px;
    right: 35px;
  }
  &__card-text {
    max-width: 210px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  &__shield-list {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px;
  }
  &__shield-item:nth-child(2),
  &__shield-item:nth-child(3),
  &__shield-item:nth-child(4),
  &__shield-item:nth-child(5) {
    position: relative;
    img {
      opacity: 0.7;
    }
    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 50%;
      width: 32px;
      height: 27px;
      background-image: url("../images/lock.jpg");
      transform: translateX(-50%);
    }
  }
}

.progress-bar {
  &__line {
    position: relative;
    width: 80%;
    height: 10px;
    margin: 20px auto 15px;
    background-color: #1c1f2b;
    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: 0;
      width: 2px;
      height: 12px;
      border-radius: 2px;
      background-color: #ffcc5f;
    }
  }
  &__info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title,
  &__nums {
    color: #ffcc5f;
    font-weight: 500;
  }
}

.button {
  border: $border-default;
  border-radius: $radius-default;
  background: linear-gradient(to bottom, #f89523, #f87322);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  &__how {
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__back {
    width: 110px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: #fff;
    cursor: pointer;
  }
  &__ref-code {
    width: 200px;
    height: 45px;
  }
  &__invite-friends {
    width: 195px;
    height: 45px;
  }
  &__copy {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ffea35, #ffd11b);
    img {
      display: block;
      width: 25px;
      height: 25px;
    }
  }
  &__social {
    width: 145px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.title {
  margin: 30px 0 10px;
  color: #C59F72;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  max-width: 290px;
  margin: 0 auto 20px;
  color: #C59F72;
  font-weight: 500;
  text-align: center;
}

.invite-link {
  @include card();
  margin-bottom: 5px;
  &__top {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }
  &__title {
    font-size: 16px;
    text-transform: uppercase;
  }
  &__text {
    font-size: 12px;
  }
  &__img {
    width: 34px;
    height: 34px;
    margin-right: 25px;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.invite-levels {
  position: relative;
  margin-bottom: 10px;
  @include card();
  &__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  &__text {
    max-width: 195px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  &__img {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 50px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    &--stats {
      font-size: 14px;
    }
  }
  &__item-left,
  &__item-right {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &__item-left-text {
    text-transform: uppercase;
    &--stats {
      text-transform: capitalize;
    }
  }
  &__item-right-text {
    color: #eded3b;
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 25px;
  margin-bottom: 10px;
}

.menu {
  li {
    margin-bottom: 20px;
  }
  a {
    font-size: 20px;
  }
}
